<div class="row my-5">

  <div class="col-md-3">
    <div class="bg-white d-flex align-items-center justify-content-center" style="height: 150px; width:150px">
      <img src="{{profile.avatar}}" alt="">
    </div>

    <h4 style="color:teal">{{profile.name}}</h4>
    <p style="word-wrap: break-word; color:dodgerblue">{{profile.introduction}}</p>
    <h5>Tweets {{tweetNums}}</h5>
    <h5>Following {{followings}}</h5>
    <h5>Follower {{followers}}</h5>
    <h5>Like {{likedTweets}}</h5>
    <form action="/followships/{{profile.id}}" method="POST">
      <button type="submit" class="btn btn-primary text-dark  font-weight-bold">Follow</button>
    </form>
  </div>

  <div class="col-md-9">
    <div class="row">
      <h3 class="col-12" style="color:teal">Following</h3>
      {{#each profile.Followings}}
      <div class="card col-md-5 shadow-sm mx-2 mt-3 ">
        <div class="row">
          <div class="col-5 text-center d-flex">
            <img class="rounded mx-auto my-auto" width="100px" height="100px">
          </div>
          <div class="col-7 card-body">
            <a href="/users/{{this.id}}">
              <h5 class="card-text">@{{this.name}}</h5>
            </a>
            <p class="card-text">{{this.introduction}}</p>
            <div class="row">
              {{#if this.isFollowed }}
              <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;"><button
                  type="submit" class="btn btn-danger">取消追蹤</button></form>
              {{else}}
              <form action="/followships/{{this.id}}" method="POST" style="display: contents;"><button type="submit"
                  class="btn btn-primary">追蹤</button></form>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>