<div class="row my-5">

  <div class="col-md-3">
    <div class="d-flex align-items-center justify-content-center">
      <img class="rounded mx-auto my-auto" src="{{profile.avatar}}" width="240px" height="240px">
    </div>

    <h4 style="color:teal">{{profile.name}}</h4>
    <p style="word-wrap: break-word; color:dodgerblue">{{profile.introduction}}</p>
    <h5>Tweets <a href="/users/{{profile.id}}">{{tweetNums}}</a></h5>
    <h5>Following <a href="/users/{{profile.id}}/followings">{{followings}}</a></h5>
    <h5>Follower <a href="/users/{{profile.id}}/followers">{{followers}}</a></h5>
    <h5>Like <a href="/users/{{profile.id}}/likes">{{likedTweets}}</a></h5>
    <div class="mt-3">
      {{#ifCond isFollowed "self"}}
      <a href="/users/{{../profile.id}}/edit" class="btn btn-primary btn-lg btn-block">Edit Prpfile</a>
      {{/ifCond}}
      {{#ifCond isFollowed "unfollow"}}
      <form action="/followships/{{../profile.id}}?_method=DELETE" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-danger">Unfollow</button></form>
      {{/ifCond}}
      {{#ifCond isFollowed "follow"}}
      <form action="/followships/{{../profile.id}}" method="POST" style="display: contents;"><button type="submit"
          class="btn btn-primary">Follow</button></form>
      {{/ifCond}}
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <h3 class="col-12" style="color:teal">Like</h3>
      {{#each profile.Likes}}
      <div class="card col-md-10 shadow-sm mx-2 mt-3 ">
        <div class="row">
          <div class="col-5 text-center d-flex">
            <img class="rounded mx-auto my-auto" src="{{this.User.avatar}}" width="100px" height="100px">
          </div>
          <div class="col-7 card-body">
            <a href="/users/{{this.UserId}}">
              <h5 class="card-text">@{{this.userName}},{{this.createdAt}}</h5>
            </a>
            <p class="card-text">{{this.description}}</p>
            <h5>
              <a class="mr-3" href="/tweets/{{this.Tweet.id}}/replies">Reply ({{this.replyNums}})</a>
              {{#if this.isLiked }}
              <form action="/tweets/{{this.Tweet.id}}/unlike?_method=DELETE" method="POST" style="display: contents;">
                <button type="submit" class="btn btn-danger">Unlike({{this.likeNums}})</button></form>
              {{else}}
              <form action="/tweets/{{this.Tweet.id}}/like" method="POST" style="display: contents;"><button
                  type="submit" class="btn btn-secondary">like({{this.likeNums}})</button></form>
              {{/if}}
            </h5>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>