<div class="row">
  <div class="col-md-4" style="background: skyblue;">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="text-center d-flex">
          <img class="rounded mx-auto my-auto" width="240px" height="240px">
        </div>
        <h2 class="text-center mt-3">{{user.name}}</h2>
        <h4 class="text-justify mt-3">{{user.introduction}}</h4>
      </div>
      <hr />
      <div class="col-md-10 mx-auto">
        <ul>
          <li>Tweets {{totalNums}}</li>
        </ul>
        <div>
          <button type="button" class="btn btn-primary">Follow</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8" style="background: lightgray;">
    <div class="row">
      <div class="col-md-11 mx-auto">
        {{#each tweets}}
        <div class="card shadow-sm mx-auto mt-3">
          <div class="row">
            <div class="col-3 text-center d-flex" style="background: burlywood;">
              <img class="rounded mx-auto my-auto" width="120px" height="120px" src="#">
            </div>
            <div class="col-9 card-body">
              <a href="/tweets/{{this.id}}">
                <h5 class="card-text">@{{this.userName}}, {{this.createdAt}}</h5>
              </a>
              <p class="card-text">{{this.description}}</p>
              <h5><a href="#">Reply</a> <a href="#">Like</a></h5>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>